.contributor {
    width: 75%;
    border: 1px solid darkgray;
    margin: 10px auto;
    padding: 5px;

    h4 {
        margin: 5px;
    }
}

@media(max-width: 768px) {

}

@media(max-width: 425px) {
    .contributor {
        width: 90%;
    }
}
