header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #0072AA;
    color: whitesmoke;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 1px 8px 1px dimgray;
    z-index: 1;
    padding-left: 10px;

    #search-form {
        position: relative;
        margin-left: auto;
        margin-right: 0;
        input[type='search'] {
            box-sizing: border-box;
            border-radius: 5px;
            border: 2px solid #0072AA;
            height: 35px;
            width: 220px;
            outline: none;
            padding-left: 40px;
            transition: width .2s linear;
            &:focus {
                width: 260px;
            }
        }
        button[type='submit'] {
            box-sizing: border-box;
            background-color: whitesmoke;
            cursor: pointer;
            width: 35px;
            height: 35px;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            border: 2px solid #0072AA;
            border-right: none;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            outline: none;
        }

    }

    .contact-links {
        margin-right: 20px;

        &:first-of-type {
            margin-left: 5px;
        }
    }
}
