.app-container {
    margin: 80px auto 0;
    padding: 15px;
    background-color: whitesmoke;

    #search-form {
        position: relative;
        width: 300px;
        margin: 5px auto;
        input[type='search'] {
            box-sizing: border-box;
            border-radius: 5px;
            border: 2px solid #0072AA;
            height: 35px;
            width: 100%;
            outline: none;
            padding-left: 40px;
        }
        button[type='submit'] {
            box-sizing: border-box;
            background-color: #0072AA;
            cursor: pointer;
            width: 35px;
            height: 35px;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            border: 2px solid #0072AA;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            outline: none;
        }
    }

}

