.repository {
    width: 80%;
    height: 100%;

    .author {
        border: none;
        margin: 10px auto;
    }

    h3 {
        margin: 0 0 10px;
    }

    h2 {
        margin: 0 0 10px;
    }

    .back-button {
        position: fixed;
        left: 0;
        top: 80px;
        width: 9%;
        height: 100%;
        opacity: 0.15;
        background-color: #0072AA;
        color: whitesmoke;
        transition: .2s ease-in;

        &:hover{
            opacity: 0.4;
            cursor: pointer;
        }
    }
}
