header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #0072AA;
  color: whitesmoke;
  width: 100%;
  height: 80px;
  align-items: center;
  box-shadow: 5px 1px 8px 1px dimgray;
  z-index: 1;
  padding-left: 10px; }
  header .contact-links {
    margin-right: 20px; }
    header .contact-links:first-of-type {
      margin-left: auto; }

.app-container {
  margin: 80px auto 0;
  padding: 15px;
  background-color: whitesmoke; }
  .app-container #search-form {
    position: relative;
    width: 300px;
    margin: 5px auto; }
    .app-container #search-form input[type='search'] {
      box-sizing: border-box;
      border-radius: 5px;
      border: 2px solid #0072AA;
      height: 35px;
      width: 100%;
      outline: none;
      padding-left: 40px; }
    .app-container #search-form button[type='submit'] {
      box-sizing: border-box;
      background-color: #0072AA;
      cursor: pointer;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      border: 2px solid #0072AA;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      outline: none; }

.list-item {
  width: 80%;
  margin: 10px auto;
  border: 1px solid darkgray;
  border-radius: 0.5px;
  transition: .2s ease-in;
  font-size: 1em;
  background-color: whitesmoke; }
  .list-item:hover, .list-item :focus, .list-item :active {
    width: 81%;
    font-size: 1.025em;
    cursor: pointer;
    background-color: #e0e0e0;
    border: 2px solid gray; }

.repository {
  border: 1px solid darkgray;
  width: 80%;
  padding: 10px;
  height: 100%; }
  .repository .author {
    border: none;
    margin: 10px auto; }
  .repository h3 {
    margin: 0 0 10px; }
  .repository h2 {
    margin: 0 0 10px; }
  .repository .back-button {
    position: fixed;
    left: 0;
    top: 80px;
    width: 9%;
    height: 100%;
    opacity: 0.15;
    background-color: #0072AA;
    color: whitesmoke;
    transition: .2s ease-in; }
    .repository .back-button:hover {
      opacity: 0.4;
      cursor: pointer; }

.contributor {
  width: 75%;
  border: 1px solid darkgray;
  margin: 10px auto;
  padding: 5px; }
  .contributor h4 {
    margin: 5px; }

.paginator {
  height: 100%;
  margin: 7px auto; }

.page-element {
  width: 25px;
  height: 100%;
  background: lightgray;
  box-sizing: content-box;
  border: 1px solid darkgray;
  margin: 0 1.5px;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1em;
  font-weight: 500; }
  .page-element:hover {
    cursor: pointer; }
  .page-element, .page-element:active, .page-element:focus {
    outline: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0;
  text-align: center; }
